{% load static %}

<div id="sidebar" class="app-sidebar">
    <!-- BEGIN scrollbar -->
    <div class="app-sidebar-content ps" data-scrollbar="true" data-height="100%">
        <!-- BEGIN menu -->
        {% if menuList %}
        <div class="menu">
            <div class="menu-header"></div>
            {% for menu in menuList %}
            {% if menu.menuUse == '1' %}
            {% if menu.menuName == "Web Query"%}
            <div class="menu-item active">
                <a href="../webQuery_DF" class="menu-link">
                    <span class="menu-icon"><i class="bi bi-collection"></i></span>
                    <span class="menu-text">{{ menu.menuName }}</span>
                </a>
            </div>
            {% elif menu.menuName == "Navigator"%}
            <div class="menu-item">
                <a href="../navigator_DF" class="menu-link">
                    <span class="menu-icon"><i class="bi bi-collection"></i></span>
                    <span class="menu-text">{{ menu.menuName }}</span>
                </a>
            </div>
            {% elif menu.menuName == "Monitoring"%}
            <div class="menu-item">
                <a href="../monitoring_DF" class="menu-link">
                    <span class="menu-icon"><i class="bi bi-collection"></i></span>
                    <span class="menu-text">{{ menu.menuName }}</span>
                </a>
            </div>
            {% elif menu.menuName == "Setting"%}
            <div class="menu-item">
                <a href="../setting_DF" class="menu-link">
                    <span class="menu-icon"><i class="bi bi-gear"></i></span>
                    <span class="menu-text">{{ menu.menuName }}</span>
                </a>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- END menu -->
        {% if Customer == 'Xfactor'%}
        <div class="p-3 px-4 mt-auto">
            <a href="../documentation_ug" class="btn d-block btn-outline-theme">
                <i class="fa fa-code-branch me-2 ms-n2 opacity-5"></i> Documentation
            </a>
        </div>
        {% else %}
        {% endif %}

        <!-- END scrollbar -->
    </div>
</div>
<!-- BEGIN mobile-sidebar-backdrop -->
<button class="app-sidebar-mobile-backdrop" data-toggle-target=".app" data-toggle-class="app-sidebar-mobile-toggled"></button>
<!-- END mobile-sidebar-backdrop -->



